/** @format */

.flex {
	display: flex;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.items-start {
	align-items: flex-start;
}

.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-items-end {
	justify-items: end;
}

.flex-1 {
	flex: 1 1 0%;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-grow {
	flex-grow: 1;
}
.flex-grow-0 {
	flex-grow: 0;
}
