/** @format */

$fontSize: 8, 10, 12, 14, 16, 18, 20, 22, 24;

@each $size in $fontSize {
	.font-#{$size} {
		font-size: #{$size}px;
	}
}

.font-black {
	font-weight: 900;
}

.fw-bold{
  font-weight: bold;
}
