/** @format */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #999;
}

a:hover {
  text-decoration: none;
}
.app {
  /*overflow: hidden;*/
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  height: 36px;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
}

//.header__navbar-user:hover .header__navbar-user-menu {
//	display: block;
//}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-menu {
  position: absolute;
  background-color: var(--white-color);
  width: 160px;
  top: calc(100% + 6px);
  right: 0;
  z-index: 1;
  padding-left: 0;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  //display: none;
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -19px;
  right: 40px;
}

.header__navbar-user-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 15px;
  right: 0;
  top: -10px;
}

.header__navbar-item-name {
  margin: 0 4px;
}

.header__navbar-user-item:hover {
  background-color: #e8e8e8;
}

.header__navbar-user-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item div {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 16px;
  display: block;
  cursor: pointer;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}

////.header__navbar-item:hover,
//.header__navbar-icon-link:hover,
//.header__navbar-item-link:hover {
//	color: rgba(255, 255, 255, 0.6) !important;
//	transition: 0.5s;
//}

.header__navbar-icon {
  margin-right: 4px;
}

.header__navbar-icon:hover {
  color: rgba(255, 255, 255, 0.6);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 4px;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header_navbar-icon-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin-left: 8px;
}

.header__navbar-title--no-pointer {
  cursor: pointer;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  background-color: var(--white-color);
  position: absolute;
  width: 186px;
  z-index: 1;
  left: 0;
  top: 125%;
  border-radius: 2px;
  display: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn ease-in 0.3s;
}
.header__qr::before {
  content: "";
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  display: block;
}

.header__qr-img {
  width: 100%;
  padding: 4px;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header__qr-link:first-child {
  margin-left: 15px;
}

.header__qr-link:nth-child(2) {
  margin-right: 15px;
}

.header__qr-download-img {
  height: 15px;
}

/* Header notification */
.header__notify {
  position: absolute;
  top: 140%;
  right: 0;
  width: 404px;
  border-radius: 2px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
  z-index: 5;
}

.header__notify::before {
  content: "";
  position: absolute;
  border-width: 20px 28px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -27px;
  right: 8px;
}

.header__notify::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -16px;
  width: 120px;
  height: 30px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #999;
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  padding-left: 12px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__notify-item--new {
  background-color: rgba(245, 62, 45, 0.1);
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}
.header__notify-img {
  width: 48px;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
}

.header__notify-desc {
  display: block;
  color: #666;
  font-size: 1.2rem;
}

.header__notify-footer {
  text-align: center;
  padding: 12px 0px;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
}

/* Authentic */
.auth-form {
  width: 500px;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 0 12px;
}

.auth-from__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0px 12px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
  font-size: 1.4rem;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 16px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  margin-top: 16px;
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials--face {
  background-color: #1877f2;
}

.auth-form__socials--face.btn--width-icon {
  color: var(--white-color);
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: var(--text-color);
}
.auth-form__socials-title {
  margin: 0 32px;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  margin: 0px 16px;
  border: 1px solid #eaeaea;
  height: 20px;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__mobile-search {
  display: none;
}

.header__mobile-search-icon {
  font-size: 2.6rem;
  color: var(--white-color);
  padding: 12px;
}
.header__logo {
  width: 180px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  line-height: 0;
  cursor: pointer;
}

.header__logo-img {
  width: 120px;
}
.header__search {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__search-checkbox:checked ~ .header__search {
  display: flex;
}

/* Cart */
.header__cart {
  width: 150px;
  text-align: center;
}

.wrap-cart-login {
  display: flex;
  align-items: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
}

.header__cart-notify {
  position: absolute;
  background-color: var(--white-color);
  padding: 2px 7px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  color: var(--primary-color);
  top: 2px;
  right: -2px;
  border: 2px solid var(--primary-color);
}

.header__cart-list {
  position: absolute;
  right: 0px;
  top: calc(100% - 1px);
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
  display: none;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list::before {
  content: "";
  display: block;
  position: absolute;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 3px;
  top: -28px;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 20px 0;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart--no-cart-img {
  width: 60%;
  display: none;
}

.header__cart-list--no-cart-msg {
  display: none;
  margin-top: 20px;
  font-size: 1.3rem;
}

.header__cart-heading {
  text-align: left;
  margin: 12px;
  font-size: 1.4rem;
  color: #999;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  /* theo phan tram man hinh */
  max-height: 56vh;
  overflow-y: auto;
}

.header__cart-list-item::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.header__cart-list-item::-webkit-scrollbar-thumb {
  background-color: #999;
}

.header__cart-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  width: 100%;
  margin-left: 8px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 16px;
  line-height: 1.8rem;
  max-height: 3.6rem;
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
  cursor: pointer;
}
.header__cart-item-remove:hover {
  color: var(--primary-color);
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px;
}

/* Login on mobile and tablet */
.login-on-mobile-tablet .header__navbar-user-menu::before {
  content: "";
  display: none;
}

.login-on-mobile-tablet .header__navbar-user-menu::after {
  content: "";
  display: none;
}

.login-on-mobile-tablet .header__navbar-user-menu {
  top: 18px;
}

.login-on-mobile-tablet .header__navbar-user-img {
  width: 26px;
  height: 26px;
}

/* Search */
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}
.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  height: 100%;
  line-height: 40px;
  cursor: pointer;
}

.header__search-option {
  z-index: 2;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: (var(--text-color));
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(158, 158, 158);
  padding: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  border-radius: 2px;
  margin-right: 4px;
  width: 60px;
  outline: none;
  cursor: pointer;
}
.header__search-btn:hover {
  opacity: 0.8;
}

.header__search-btn-icon {
  color: var(--white-color);
  font-size: 1.4rem;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 130px;
  list-style: none;
  text-align: right;
  padding: 0;
  box-shadow: 0 1px 2px rgb(226, 226, 226);
  border-radius: 2px;
  margin-top: 4px;
  display: none;
}

.header__search-option::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  top: -5px;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
  background-color: #f5f5f5;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 12px;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

/* Search history */
.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  border-radius: 2px;
  box-shadow: 0 1px 5px #999;
  background-color: var(--white-color);
  z-index: 1;
  display: none;
}

.header__search-history-heading {
  padding: 4px 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #666;
  margin: 12px 0;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  border-radius: 2px;
}

.header__search-history-item {
  padding: 0 12px;
  height: 38px;
}

.header__search-history-item:hover {
  background-color: rgb(238, 238, 238);
}

.header__search-history-item a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
}

.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background: var(--white-color);
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.header__sort-item {
  flex: 1;
}

.header__sort-item:first-child .header__sort-link::before {
  display: none;
}

.header__sort-link {
  text-decoration: none;
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: var(--header-sort-bar-height);
  height: 100%;
  text-align: center;
  position: relative;
}

.header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}

.header__sort-item--active {
  color: var(--primary-color);
}

/* App container */

/* Category */
.app__container {
  background-color: #f5f5f5;
  display: block;
  width: 100%;
}
.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
  display: block;
  padding: 12px 0;
}

.category-sidebar {
  height: 600px;
  overflow-y: scroll;
}

.category-sidebar::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

.category-sidebar::-webkit-scrollbar-thumb {
  background-color: #999;
}

.category__heading {
  margin: 0;
  font-size: 1.6rem;
  padding: 4px 20px 12px;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}

.category-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  max-height: 500px;
}

// .category-list-home {
// 	max-height: 360px;
// 	overflow-x: hidden;
// 	overflow-y: scroll;
// }

// .category-list-home::-webkit-scrollbar {
//     width: 3px;
//     background-color: #F5F5F5;
// } 

// .category-list-home::-webkit-scrollbar-thumb {
//     background-color: #999;
// }

.category-item {
  position: relative;
}

.category-item::after {
  content: "";
  position: absolute;
  border-top: 1px solid #e1e1e1;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.category-item:last-child::after {
  display: none;
}

.category-item__link {
  position: relative;
  color: var(--text-color);
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 12px 32px;
  left: 0;
  transition: left linear 0.1s;
  cursor: pointer;
}

.category-item__content.category-item__link {
  padding: 6px 16px;
  text-align: center;
}

.category-item__link:hover {
  left: 4px;
  color: var(--primary-color);
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link:before {
  content: "";
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-color);
  right: calc(100% - 28px);
  top: 50%;
  transform: translateY(calc(-50% - 1px));
}

.category-name {
  font-size: 1.4rem;
  height: 4.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* Home shop filter */
.home-produce {
  width: 100%;
}
.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__btn {
  padding: 0px;
  background-color: var(--white-color);
  width: 130px;
  margin: 0 8px;
}

.select-input__list {
  z-index: 1;
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 20px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
}

.home-filter__page-btn {
  display: flex;
  height: 36px;
  flex: 1;
  background-color: var(--white-color);
  text-decoration: none;
  border: none;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

.home-filter__page-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
  color: #ccc;
}

/* Produce */
.mobile__category {
  display: none;
}

.mobile__category-list {
  display: flex;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.mobile__category-item {
  list-style: none;
  flex-shrink: 0;
  margin-right: 10px;
}

.mobile__category-list::-webkit-scrollbar {
  display: none;
}

.mobile__category-item:nth-of-type(3n + 1) .mobile__category-link {
  background-color: #87afd8;
}

.mobile__category-item:nth-of-type(3n + 2) .mobile__category-link {
  background-color: #76c9bd;
}

.mobile__category-item:nth-of-type(3n + 3) .mobile__category-link {
  background-color: #88cf81;
}

.mobile__category-link {
  --line-height: 2rem;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  width: 120px;
  display: block;
  text-align: center;
  border-radius: 5px;
  font-weight: 300;
  overflow: hidden;
  display: -webkit-box;
  padding: 0 6px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-user-select: none;
}

.home-produce-item {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.home-produce-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-produce-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-produce-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px 10px 6px;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.home-produce-item__price {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-produce-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-right: 6px;
  margin-left: 10px;
}

.home-produce-item__price-new {
  color: var(--primary-color);
  /* margin-left: 10px; */
  font-size: 1.4rem;
  /* color: #666; */
  /* text-decoration: line-through; */
  margin-right: 6px;
  margin-left: 10px;
}

.home-produce-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
  align-items: center;
}

.home-produce-item__like {
  font-size: 1.4rem;
}

i.home-produce-item__like-icon--fill {
  display: none;
  color: #f63d30;
}

.home-produce-item__liked .home-produce-item__like-icon--fill {
  display: inline-block;
}

.home-produce-item__liked .home-produce-item__like-icon--empty {
  display: none;
}

.home-produce-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: rgb(220, 220, 220);
  margin: -1px 0 0 auto;
  margin-top: 2px;
}

.home-produce-item__star-gold {
  color: var(--star-gold-color);
}

.home-produce-item__sold {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 6px;
  margin-right: 6px;
}

.home-produce-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 8px;
}

span.home-produce-item__origin-name {
  width: 170px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 28px;
  text-align: end;
}

.home-produce-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-produce-item__favourite i {
  font-size: 0.9rem;
  margin: 0 3px 0 5px;
  color: var(--white-color);
}

.home-produce-item__favourite span {
  color: var(--white-color);
}

.home-produce-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-produce-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  border-top-right-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-produce-item__sale-off::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent
  rgba(255, 216, 64, 0.94);
}

.home-produce-item__sale-off-percent {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ee4d2d;
  position: relative;
  top: 2px;
}

.home-produce-item__sale-off__sale-off-label {
  font-size: 1.4rem;
  color: var(--white-color);
  font-weight: 600;
  position: relative;
  top: 1px;
}

/* Nagination */
.produce-pagination {
  margin: 0px 0 36px;
  padding: 0;
}

button {
  border: none;
}
button:focus {
  outline: none;
  border: none;
}
