.text-blur {
    color: rgba(0,0,0,.4);
}

.red-color {
    color: var(--primary-color) !important;
}

.bg-blur {
    background-color: #F5F5F5;
}

.h-button__red {
    background-color: #fb5431;
}

.h-color__white{
    color : white;
}
